body {
    padding-top: 68px; /* ajusta según la altura real del navbar */
    background-color: #fff; /* asegura que el fondo sea uniforme */
}
.titulo-contenedor {
    text-align: center;
}
.seccion {
    width: 100%;
}
.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.submenu {
    border-bottom: none;
}
.submenu a {
    color: #ffffff !important;
    text-decoration: none;
    font-size: 1.5em;
}
.submenu a:hover {
    color: #d4af37 !important; /*blanco al pasar el ratón */
}

.portada-img {
    max-width: 250px; /*tamaño normal en pantallas grandes */
}
.mt-negativo {
    margin-top: -110px; /*se superpone al contenido principal para reducir el espacio de altura*/
}

.card {
    box-shadow: 8px 8px 10px rgba(212, 175, 55, 0.6); /* dorado intenso abajo a la derecha */
}
.btn-resumen {
    background-color: #d4af37 !important; /* fondo blanco */
    color: #fff !important; /* texto blanco */
    border: solid 3px #50c878 !important; /* borde verde esmeralda */
}

.btn-resumen:hover {
    background-color: #3da766 !important; /* fondo dorado al pasar */
    color: #fff !important; /* texto blanco */
    border: solid 3px #d4af37 !important; /* borde verde oscuro */
}
.btn-primary {
    background-color: #50c878 !important;
    border: solid 3px #d4af37 !important;
}
.btn-primary:hover {
    background-color: #d4af37 !important;
    border: solid 3px #3da766 !important;
}
.textos {
    margin-left: 1em;
}
.contacto a {
    text-decoration: none; /* quita el subrayado */
}

.contacto a:hover {
    color: #d4af37 !important; /* opcional: cambia a dorado en hover */
}

.list-unstyled li a {
    text-decoration: none;
}
.list-unstyled li a:hover {
    color: #d4af37 !important;
}
.border-top-dorado {
    border-top: 1px solid #d4af37; /* fina línea dorada */
}
#categoria-libros {
    padding-top: 100px !important; /* ajusta según la altura de tu navbar */
}
#libros {
    padding-top: 70px !important; /* ajusta según la altura de tu navbar */
}
.book-img {
    max-width: 120px; /* tamaño de imagen del libro de la vista show en móvil*/
}
.boton-vaciar {
    background-color: black !important;
    color: #d4af37 !important;
    border: 2px solid #d4af37 !important;
    transition: 0.3s ease !important;
}
.boton-vaciar:hover {
    background-color: white !important;
    border-color: #d4af37 !important;
}

/* NAVBAR CON SUBMENÚ - SOLO DESKTOP */
@media (min-width: 992px) {
    nav.navbar {
        flex-direction: column;
        align-items: stretch;
    }
    .submenu {
        width: 100%;
    }
    .menu-principal {
        gap: 8em !important; /* más espacio entre Inicio, Novedades, etc. */
    }
    .book-img {
        min-width: 200px; /* tamaño de imagen del libro de la vista show en desktop*/
    }
}
@media (max-width: 576px) {
    /* xs */
    .portada-img {
        max-width: 120px; /* tamaño reducido en móviles */
    }
    .navbar {
        border-bottom: 0px;
    }
    .nav-btn {
        padding: 0.25rem 0.5rem !important;
        font-size: 0.75rem !important;
        line-height: 1rem !important;
    }
    .nav-btn i {
        font-size: 0.9rem !important;
    }
    .navbar form.d-flex {
        margin-right: 0 !important;
        flex-grow: 0 !important;
        width: 100% !important;
    }
    .logo img {
        width: 60px !important;
        height: 60px !important;
    }
    .buscador {
        display: flex; /* mantiene el input y botón en fila */
        justify-content: flex-end; /* empuja todo el buscador a la derecha */
    }
    .submenu a {
        font-size: 1em;
    }
    .mt-negativo {
        margin-top: -180px;
    }
}
